[Unit]
Description=todoapp service
After=network.target

[Service]
User=azur1
WorkingDirectory=/app
ExecStart=/app/start.sh
Restart=always
RestartSec=5s
StandardOutput=journal
StandardError=journal
SyslogIdentifier=todoapp

[Install]
WantedBy=multi-user.target